/*header style*/
header{
    background-color: #3E4551;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  }
  header h1{
    color: #FFFFFF;
    font-size: 20px;
    margin: 0;
  }
  
  /*footer style*/
  footer{
    background-color: #3E4551;
    color: #FFFFFF;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /*login page style*/
  .login-page{
    background-color: #ffffff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-page form{
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 400px;
    text-align: center;
  }
  
  #main-header{
    background-color: #3E4551;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin: 25px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  }
  .header-title{
    color: #FFFFFF;
    font-size: 20px;
    margin: 0;
  }
  
  .form-input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #3E4551;
    color: #FFFFFF;
  }
  .form-submit{
    background-color: #3E4551;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
    